.jumbotron {
  background-image: url('http://maxpixel.freegreatpicture.com/static/photo/1x/Sky-Clouds-Farm-Ohio-Amish-Plants-Garden-Flowers-1936639.jpg');
  height: 90vh;
  opacity: 0.6;
  background-position: center;
  background-size: cover;
}